body {
    font-family: 'LATO', sans-serif;
    background-color: peru;
    padding: 20px;
}

h2 {
    color: rgb(0, 51, 102);
    text-align: center;
    margin-bottom: 20px;
}

form {
    border-radius: 10px;
    background-color: whitesmoke;
    padding: 15px;
    margin-bottom: 24px;
}

input[type=text],
input[type=email],
input[type=date],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}

input[type=submit],
input[type=reset] {
    background-color: rgb(4, 170, 109);
    color: white;
    padding: 12px;
    margin: 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 150px;
    font-size: 16px;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 100%
}

input[type=reset] {
    background-color: rgb(220, 53, 69);

}

input[type=reset]:hover {
    background-color: rgb(200, 35, 51);
}

input[type=submit]:hover {
    background-color: rgb(33, 136, 56);
}

ul {
    border-radius: 5px;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(70, 70, 70);

}

ul li {
    float: left;
    margin-bottom: 10px;
}

ul a {
    display: block;
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 14px;
    font-size: 18px;
}

ul a:hover {
    color: rgb(200, 200, 200)
}